__pycache__/
*.pyc
*.pyo
*.pyd
.env
.vscode/
node_modules/
playwright-report/
.DS_Store
.idea/.DS_Store
.idea/vcs.xml
test_data/.DS_Store
tests/.DS_Store
tests/test_api/.DS_Store
utils/.DS_Store
.idea/
report.xml
report.html
report/
myenv

